.Concertina {
    &-tab {
        display: block;
        padding: .5em;
        background-color: #666666;
        color: #ffffff;
        text-decoration: none;

        &.is-selected,
        &:focus,
        &:hover {
            background-color: #b4da55;
        }
    }

    &-panel {
        max-height: 0;
        background-color: lighten(#b4da55, 30%);
        overflow: hidden;
        visibility: hidden;

        &.is-visible {
            max-height: 100%;
            visibility: visible;
        }
    }

    &-panelInner {
        padding: 1em;
    }
}
